:root{
  --basic-red:#EE3643;
  --basic-dark-red:#BA2732;
  --basic-dark-blue:#293449;
  --basic-blue:#32425C;
  --basic-green:#63A63E;
  --basic-orange:#FFBF47;
  --basic-light-blue:#3BBCE3;
  --basic-Violet:#DC91D8;
  --basic-light-green:#8ED78F;
  --basic-light-orange:#FFC047;
  --basic-white:#FFFFFF;
  --basic-black:#000000;
  --basic-light-grey:#F1F5F7;
  --basic-light-orange:#FFDA96;
  --basic-dark-red:#BA2732;
  --basic-pink:#F7F3EC;
}
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  font-style: none;
  text-transform: none;
  background-position: top center;
  background-repeat: no-repeat;
}
.page-body{
min-height: 100%;
display: grid;
grid-template-rows: min-content 1fr min-content;
align-content:start;
}
.page{
  height: 100%;
}
header{
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 17px;
}
a {
  text-decoration: none;
  color: var(--basic-white);
  }
ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  }
p, h2{
  margin: 0;
  padding: 0;
}
.main-container{
 width: 940px;
 margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
.header-row{
  background-color: var(--basic-dark-blue);
  height: 42px;
  margin: 0;
  padding: 0;
}
.header-row-nav{
  display: flex;
  align-items: center;
}
.main-button{
  box-sizing: border-box;
  position: relative;
  display: block;
  padding: 12px 56px 17px;
  font-size: 24px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #EE3643;
  cursor: pointer;
  margin-bottom: -5px;
  height: 47px;
  width: 220px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.main-button:focus {
  background-color: var(--basic-dark-red);
}
/* .header-search-form {
    display: block;
    width: 270px;
    margin: 0;
    padding: 0;
    border: none;
}
.search{
    width: 100%;
    min-height: 42px;
    padding-left: 50px;
    background: var(--basic-dark-blue);
    border: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 50px;
}
.button-search{
  position: absolute;
  left: 430px;
  top: 10px;
  border:0;
  fill: #ffffff;
}
.search:focus{
  background-color:  var(--basic-white);
  outline: none;
} */
.header-search-form {
    position: relative;
    width: 270px;
    margin: 0;
    padding: 0;
}


.header-search-form input {
    width: 220px;
    min-height: 40px;
    padding-left: 42px;
    color: inherit;
    background: var(--basic-dark-blue);
    border: none;
}

.header-search-form input:focus {
    color: #000000;
    background-color: #ffffff;
    outline: none;
}

.header-search-form input::-webkit-input-placeholder {
    color: #ffffff;
}

.header-search-form input:-ms-input-placeholder {
    color: #ffffff;
}

.header-search-form input::-ms-input-placeholder {
    color: #ffffff;
}

.header-search-form input::placeholder {
    color: #ffffff;
}

.header-search-form svg {
    position: absolute;
    top: 19px;
    left: 17px;
    margin-top: -7px;
}

.header-search-form path {
    opacity: 0.3;
    fill: #ffffff;
}

.header-search-form input:focus + svg > path {
    opacity: 1;
    fill: #ee3643;
}
.bookmarks-box{
  width: 150px;
  height: 42px;
  text-align: center;
}
.bookmarks{
  display: block;
  margin-top: 10px;
  margin-left: 19px;
  position: relative;
}
.bookmarks::before{
  content:"";
  position: absolute;
  width: 14px;
  height: 17px;
  top: 3px;
  left: 1px;
  line-height: 24px;
  background-image: url("../img/Shape-Bookmarks.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.bookmarks:active::before,
.bookmarks:focus::before,
.bookmarks:hover::before{
    opacity: 1;
}
.basket-head-box{
  width: 150px;
  height: 42px;
  text-align: center;
}
.basket-head{
  display: block;
  margin-top: 10px;
  margin-left: 22px;
  position: relative;
}
.header-basket-catalog{
  background-color: var(--basic-red);
}
.basket-head::before{
  content:"";
  position: absolute;
  width: 14px;
  height: 18px;
  top: 3px;
  left: 5px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.basket-head:active::before,
.basket-head:focus::before,
.basket-head:hover::before{
  opacity: 1;
}
.order{
  display: block;
  padding: 9px 16px 9px 19px;
  margin-left: 0px;
  background-color: var(--basic-green);
}
.order:hover{
  background-color:#5FBB2D;
}
.order:active{
 color: rgba(255, 255, 255, 0.5);
}
.header-content-block{
  display: flex;
  justify-content: center;
  margin-top: 44px;

}
.header-content{
  width: 940px;
  display: flex;
}
.info p{
  margin: 0;
  padding: 0;
  }
.info{
  color: var(--basic-red);
  font-family: "Cuprum";
  font-style: italic;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin-left: 30px;
}
.address-block{
  margin: 0;
  margin-left: 94px;
  margin-top: 9px;
}
.phone-address{
  padding: 0;
  margin: 0;
}
.phone{
  /* min-width: 270px; */
  padding: 7px 40px 8px 72px;
  /* margin-right: 8px; */
  /* box-sizing: border-box; */
  border: 3px solid white;
  font-family: "Cuprum";
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  position: relative;
  color: var(--basic-red);
}
.phone::before{
  content: "";
  position: absolute;
  width: 17px;
  height: 19px;
  background-image: url("../img/icon-phone.png");
  top: 10px;
  left: 39px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.address-head{
  font-size: 14px;
  margin-top: 11px;
  margin-left: 9px;
  line-height: 24px;
  color: var(--basic-blue);
}
.user-nav-block{
  margin-left: 72px;
  margin-top: 14px;
}
.user-button{
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  padding: 10px 24px;
  background: var(--basic-white);
  margin: 0;
  box-sizing: border-box;

}
.come{
  position: relative;
  padding: 10px 27px 10px 45px;
}
.come:hover, .registration:hover{
  color: #EE3643;
}
.come:active, .registration:active{
  color: #C5C5C5;
}
.come::before{
  content: "";
  position: absolute;
  width: 21px;
  height: 17px;
  background-image: url("../img/icon-login.png");
  top: 14px;
  left: 19px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.registration{
  margin-left: 5px;
}
.main-nav ul, li{
  margin: 0;
  padding: 0;
}
.main-nav{
  margin-top: 40px;
  margin-bottom: 60px;
}
.nav-list{
  display: flex;
  background-color: var(--basic-blue);
  box-shadow: inset 0px -5px 0px #293449;
  justify-content: space-around;
}
.site-nav {
  display: block;
  padding: 17px 24px 19px 27px;
  font-size: 18px;
  font-style: "Cuprum";
  }
.site-nav:hover{
  background-color: #293449;
}
.site-nav:active{
  background-color: #1D2739;
  opacity: 0.5;
}
.nav-list:last-child{
  padding-right: 26px;
}
.nav-list:first-child{
  padding-left: 24px;
}
.block{
/* margin: 5px; */
list-style: none;
color: var(--basic-white);
}
.block a{
color: var(--basic-white);
}
.site-nav a{
    color: var(--basic-white);
}
.main-content{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap:20px;
  justify-content: center;
  margin: 0;
  margin-top: 42px;
}
.block h3{
  font-size: 24px;
  margin-bottom: 0;
  margin-left: 23px;
}
.block a{
  font-size: 14px;
  line-height: 18px;
  margin-left: 23px;
  margin-top: 15px;
  text-transform: uppercase;
  min-width: 135px;
  padding: 10px 23px;
  background-color: rgba(255,255,255, .3);
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
}
.block a:hover{
  background-color: rgba(197,197,197, 0.3);
}
.block a:active{
  background-color: rgba(169,169,169, 0.3);
}
.basket{
  position: relative;
  top: -17px;
  left: 50px;
}
.drill{
  position: relative;
  top: -14px;
  left: 32px;
}
.tract{
  position: relative;
  top: -17px;
  left: 29px;
}
.shopping-cart{
  position: relative;
  top: -22px;
  left: 33px;
}
.bus{
  position: relative;
  top: -16px;
  left: 29px;
}
.corner-ribbon {
  position: absolute;
  top: 7px;
  right: -26px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  font-family: "Cuprum", sans-serif;
  text-align: center;
  color: #f0f0f0;
  text-transform: uppercase;
  background: #ff5357;
  transform: rotate(45deg);
}
.materials{
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: var(--basic-orange);
  position: relative;
  overflow: hidden;
}
.instrument{
  grid-column: 2/3;
  background-color: var(--basic-light-blue);
}
.Technics{
  grid-column: 3/4;
  background-color: var(--basic-Violet);
}
.discounts{
  grid-column: 3/4;
  background-color: var(--basic-green);
}
.delivery-main{
  grid-column: 3/4;
  background-color: var(--basic-orange);
}
.catalog{
  grid-column: 1/3;
  grid-row: 2/4;
  height: 266px;
  width: 620px;
  margin: 0;
  padding: 0;
}
.catalog-item{
  z-index: 1;
  position: absolute;
  height: 266px;
  width: 620px;
}
.catalog-img{
  position: absolute;
  z-index: -1;
}
.perf{
  z-index: 2;
}
.drill-slide{
  position: absolute;
  z-index: 1;
}
.catalog-prev{
  position: absolute;
  z-index: 3;
  cursor: pointer;
  border:0;
  background: none;
  left: 18px;
  bottom: -168px;
}
.catalog-next{
  position: absolute;
  z-index: 3;
  cursor: pointer;
  border:0;
  background: none;
  left: 570px;
  bottom: -164px;
  transform: rotate(180deg);
}
.catalog-prev:focus,
.catalog-next:focus{
  outline: 0;
}
.catalog-title h2{
  font-size: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
  margin: 0;
  margin-left: 25px;
  margin-top: 29px;
}
.catalog-text p{
  font-size: 18px;
  color: var(--basic-white);
  margin-left: 24px;
  margin-top: 12px;
}
.button-catalog{
  display:block;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 38px;
  margin-top: 112px;
  margin-left: 24px;
  width: 192px;
  height: 38px;
  background: #EE3643;
  color: var(--basic-white);
}
.button-catalog:hover{
  background-color: #CA2C37;
}
.button-catalog:active{
  background-color: #BA2732;;
}
.catalog-navigation{
  position: relative;
}
.catalog-dots{
  position: relative;
}
.catalog-dot{
  z-index: 3;
  position: absolute;
  padding: 0;
  width: 11px;
  height: 11px;
  left: 294px;
  top:219px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}
.catalog-dot:active{
  outline: 0;
}
.active-btn{
  background-color: red;
  border: 2px solid white;
  outline: 0;
}
.active{
  margin-left: 20px;
}
.perf-slide{
  z-index: 1;
}



.popular-goods{
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 89px 318px;
  justify-content: center;
  align-items: center;
  gap:20px;
  margin-top: 59px;
}
.button-popular-goods{
  background-color: var(--basic-red);
  width: 192px;
  height: 38px;
  grid-column: 4/5;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  line-height: 38px;
  font-size: 14px;
  margin-left: 14px;
  text-transform: uppercase;
}
.product-list-open{
  display: grid;
  grid-column: 1/5;
  height: 89px;
  align-items: center;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 89px;
  background-color: var(--basic-light-grey);
  gap: 20px;
  }
.product-list-open p{
    grid-column: 1/4;
    margin-left: 29px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
  }
/* Хоть че вообще */
.product{
  font-style: "pt sans";
  display: grid;
  grid-column: 1/2;
  grid-template-rows: 180px 228px;
  box-sizing: border-box;
  border: 1px solid #EAEAEA;
  height: 318px;
  width: 220px;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.product:hover{
  box-shadow: 0px 0px 15px 0px #d1d1d1;
}
.actions{
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  background: #ffff;
  width: 100%;
  height: 100%;
}
.product:hover .actions{
  display: block;
}
.actions a{
  display:block;
  width: 135px;
  height: 38px;
  line-height: 38px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  border-radius: 2px;
  margin-left: 41px;
}
.buy{
  margin-top: 38px;
  background-color: #63A63E;
  box-shadow: inset 0px -3px 0px #367315;
}
.buy:hover{
  background-color: #5FBB2D;
}
.buy:active{
  background-color: #518534;;
}
.bookmark{
  margin-top: 10px;
  color: #32425C;
  box-sizing: border-box;
  border: 3px solid #63A63E;
}
.bookmark:hover{
  border: 3px solid #32425C;
  box-sizing: border-box;
}
.bookmark:active{
  opacity: 0.5;
}
.item-img{
  display:flex;
  position: relative;
  grid-row: 1/2;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.b3000{
  grid-column: 2/3;
}
.b6000{
  grid-column: 3/4;
}
.b2000{
  grid-column: 4/5;
}
.description{
  grid-row: 2/3;
  text-align: center;
  /* padding: 0px 18px 21px; */
}
.description p{
  margin: 0;
  padding: 0;
  display:block;
  margin-top: 3px;
  color: #A9A9A9;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
}
.description h3{
  margin: 0;
  padding: 0;
  font-family: "Pt Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
.button{
  margin-left: 15px;
  margin-top: 11px;
  padding-right: 16px;
  border: none;
  position: relative;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  width: 141px;
  height: 38px;
  background-image: url(../img/red-button.svg);
  color: white;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.button-2000{
  margin-top: 39px;
}
.manufacturers {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 145px 145px;
  margin-top: 20px;
  gap: 20px;
}
.manufacturers a{
    display: grid;
    border: 1px solid #EAEAEA;
    width: 220px;
    height: 145px;
    align-items: center;
    justify-content: center;
}
.button-manufacturers{
  margin-left: 9px;
}
.manufacturers a:hover{
  box-shadow: 0px 0px 15px 0px #d1d1d1;
}
.manufacturers a:active{
  box-shadow: 0px 0px 15px 0px #d1d1d1;
  opacity: 0.5;
}
.popular-manufacturers{
  display: grid;
  grid-template-rows: 89px 310px;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  gap: 10px;
}
.popular-manufacturers-list {
  display: grid;
  align-items: center;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 89px;
  background-color: var(--basic-light-grey);
  gap: 20px;
}
.popular-manufacturers-list p{
  grid-column: 1/3;
  margin-left: 28px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.popular-manufacturers-list a{
  grid-column: 4/5;
  justify-content: center;
  align-items: center;
  max-width: 198px;
  height: 38px;
  text-align: center;
  display: block;
  line-height: 38px;
  /* padding: 11px 38px; */
  font-size: 14px;
}
.service-delivery-block{
  background-color: var(--basic-light-grey);
}
.service-delivery{
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: 95px  auto;
  margin-top: 86px;
}
.service{
  grid-column: 1/3;
  margin-top: 64px;
}
.service h3{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 30px;
  Line Height :30px;
  font-weight: 400;
}
.service p{
  margin: 0;
  margin-top: 27px;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
}
.nav-service{
  display: block;
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 0;
  margin-top: 136px;
  margin-bottom: 100px;
}
.nav-service li{
  font-size: 21px;
}
.slide h3{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 30px;
  Line Height :30px;
  font-weight: 400;
  margin-top: 30px;
}
.slide p{
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: black;
  margin-top: 32px;
}

.delivery, .Warranty, .credit{
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 110px;
  margin-left: 80px;
  position: relative;
  overflow: hidden;
  display: none;
}
.credit-button{
  display: inline-block;
  background-color: var(--basic-red);
  font-size: 14px;
  weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  align-items: center;
  padding: 15px 45px;
  margin-top: 35px;
  border-radius: 5px;
}
.slide-show{
  display: block;
}
.service-img{
  position: absolute;
  top: 48px;
  left: 150px;
}
.nav-section{
  background-color: var(--basic-blue);
  min-height: 61px;
  min-width: 240px;
  /* padding: 17px 139px 17px 22px; */
  color: var(--basic-white);
  text-align: left;
  padding-left: 23px;
  font-weight: 700;
  cursor: pointer;
  border-top: 2px solid #485973;
  border-bottom: 2px solid #33445a;

}
.nav-section:hover{
  background-color: var(--basic-dark-blue);
}
.nav-section:focus{
  background-color: var(--basic-white);
  color: var(--basic-blue);
  outline: none;

}
.nav-section-active{
  background-color: var(--basic-white);
  color: var(--basic-blue);
  outline: none;
  border: 0;
}
.nav-section-active:hover{
  background-color: var(--basic-white);
}
/* ИНФА И АДРЕСС */
.info-address{
  display: grid;
  grid-template-columns: 470px 470px;
  margin-top: 71px;
}
.information{
  grid-column: 1/2;
}
.information ul{
  padding: 0;
  padding-left: 37px;
}
.information h2{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}
.information p{
  margin: 0;
  padding: 0;
  font-family:"PT Sans";
  font-size: 13px;
  line-height: 24px;
  margin-top: 24px;
  font-weight: 400;
}

.delivery-method{
  margin-top: 4px;
  /* padding-left: 60px; */
}
.delivery-method li{
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}
.delivery-method li::after{
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color:  #EE3643;
  top: 13px;
  left: -37px;
}
.button-delivery{
  box-sizing: border-box;
  display: block;
  background-color: var(--basic-red);
  font-size: 14px;
  text-transform: uppercase;
  width: 220px;
  height: 38px;
  padding: 9px 40px 9px 40px;
  margin-top: 19px;
}
.address{
  grid-column: 2/3;
  margin-left: 169px;
}
.address h2{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}
.address p{
  margin: 0;
  padding: 0;
  font-family:"PT Sans";
  font-size: 13px;
  line-height: 24px;
  margin-top: 24px;
  font-weight: 400;
}
.map{
  margin-top: 32px;
}
.button-address{
  box-sizing: border-box;
  display: block;
  background-color: var(--basic-red);
  font-size: 14px;
  text-transform: uppercase;
  width: 300px;
  height: 38px;
  padding: 9px 60px 9px 62px;
  margin-top: 18px;
  margin-left: 1px;
}
/* ПОДВАЛ */
.page-footer{
  background-color: var(--basic-dark-blue);
  margin-top: 70px;
  }
  .catalog-footer{
      background-color: var(--basic-dark-blue);
  }
.footer-navigation{
  background-color: var(--basic-blue);
}
.footer-nav {
  display: grid;
  grid-template-columns: 354px 1fr;
  grid-template-rows: 64px 132px;
  background-color: var(--basic-blue);
}
.footer-nav p{
  margin-top: 27px;
  margin-left: 2px;
  color: var(--basic-white);
}
.footer-button{
  box-sizing: border-box;
  position: relative;
  display: block;
  text-align: center;
  padding-top: 21px;
  font-size: 30px;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #EE3643;
  cursor: pointer;
  margin-bottom: -5px;
  width: 220px;
  height: 68px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}
.footer-nav-item{
  grid-column: 2/4;
  grid-row: 1/2;
}
.footer-nav-item{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 37px;
  margin-left:40px;
}
.footer-nav li:hover{
  text-decoration: underline;
}
.footer-nav li:active{
  opacity: 0.5;
  text-decoration: none;
}
.products-footer{
  display: flex;
  grid-column: 2/3;
  grid-row: 2/3;
  justify-content: space-between;
  margin-left: 62px;
  margin-top: 32px;
}
.products-footer li{
  display: inline-block;
  margin: 0;
  /* margin-left: 59px; */
}
.footer-info{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 30px;
}
.footer-info p{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
.products {
  color: var(--basic-light-orange);
}
.Feedback-developed{
  display: flex;
  color: var(--basic-light-orange);
  font-size: 16px;
  justify-content: space-between;
}
.Feedback-developed p{
  margin: 0;
  color: var(--basic-white);
}
.Feedback-developed a{
  margin: 0;
  color: #FFD180;
}
.Feedback-developed a:hover{
  text-decoration: underline;
}
.Feedback-developed a:active{
  color: red;
  text-decoration: none;
}
.developed{
  margin-left: 51px;
  margin-right: 14px;
}
.footer-social ul{
  margin: 0;
  margin-left: 44px;
}
.social{
  display: flex;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--basic-blue);
  border-radius: 50%;
  margin-right: 1px;
}
.social-button:hover,
.social-button:active {
  background-color: var(--basic-red);
}
/* CATALOG */
.user-login{
  margin-top: 2px;
  margin-left: 51px;
}
.user-name{
  display: block;
  width: 299px;
  height: 45px;
  position: relative;
  text-align: center;
  line-height: 45px;
  font-size: 21px;
  background: var(--basic-white);
  box-sizing: border-box;
}
.user-name::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  background-image: url(../img/icon-user.svg);
  top: 13px;
  left: 17px;
}
.user-name::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  background-image: url(../img/icon-logout.svg);
  top: 13px;
  left: 262px;
}
.user-name{
  color: var(--basic-black);
  /* margin-top: 6px; */
}
.user-menu li:first-child{
  margin-right: 33px;
}
.user-menu a{
  color: #32425C;
}
.user-menu{
  margin: 0;
  padding: 0;
  margin-top: 4px;
  display: flex;
  position: relative;
  justify-content: center;
  /* justify-content: space-between; */
  font-size: 16px;
}
.user-menu::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 10px;
  left: 134px;
  background-color: #32425C;
  border-radius: 50%;
}
.breadcrumbs a{
  color: var(--basic-black);
}
.breadcrumbs{
  margin: 0;
  padding: 0;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 4px;
}
.breadcrumbs li{
  position: relative;
  margin-right: 41px;
}
.breadcrumbs li:last-child{
  margin-left: 2px;
}
.breadcrumbs-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 13px;
  top: 3px;
  left: -24px;
  background-image: url(../img/bredcums.png);
}
.home{
  position: relative;
  top: 2px;
}

.heading-perf{
  display: flex;
  width: auto;
  height: 89px;
  background-color: var(--basic-light-grey);
  align-items: center;
  text-transform: uppercase;
  margin-top: 20px;
}
.heading-perf h2{
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #32425C;
  margin-left: 29px;
}
.box{
  display: flex;
  align-items: center;
  width: 220px;
  height: 38px;
  background-color: var(--basic-pink);
}
.box span{
font-family: "PT Sans";
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
text-transform: uppercase;

display: flex;
align-items: center;

color: #000000;
  margin-left: 18px;
}
.filter-block{
  margin-top: 13px;
}
.filter legend {
  font-family: "PT Sans";
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}
.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  outline-offset: -5px;
  /* outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px; */
  margin-top: 20px;
}
.filter {
  width: 220px;
  /* outline-offset: -5px;
  outline: 5px solid rgba(255, 0, 255, 0.7); */
}
.manufacturers-control ul{
  margin: 0;
  padding: 0;
  margin-top: 18px;
  margin-left: 35px;
}
.filter fieldset {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
}
.filter-option label {
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: "PT Sans";
  line-height: 19px;
  text-transform: uppercase;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  bottom: -2px;
  width: 19px;
  height: 19px;
  border: 2px solid #C5C5C5;
  border-radius: 3px;
}
.filter-input-checkbox:checked + label::after{
  content: "";
  position: absolute;
  left: -35px;
  bottom: -2px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-on.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 18px;
  height: 18px;
  border: 4px solid #000000;
  border-radius: 50px;
  border-color: #C5C5C5;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -27px;
  width: 8px;
  height: 8px;
  background-color: #C5C5C5;
  border-radius: 50%;
}
.filter-input-checkbox:checked + label::before {display: none}

.filter-button{
  display: block;
  cursor: pointer;
  max-width: 220px;
  max-height: 38px;
  padding: 10px 79px;
  margin-top: 16px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "PT Sans";
  border: 1px solid #E5E5E5;
  background-color: var(--basic-white);
}
.filter-option-radio{
  margin-top: 26px;
}
.filter-option-radio ul{
  margin-top: 24px;
  padding-left: 35px;
}
.filter-radio{
  margin-bottom: 22px;
}

/* Фильтр */
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 220px;
  margin: 50px auto;
}

.range-filter {
  width: 220px;
  margin-top: 11px;
  margin-bottom: 39px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.filter-items{
  display: flex;
  /* justify-content: space-between; */
  position: relative;
  box-sizing: border-box;
  font-family: "PT Sans";
  font-size: 13px;
  width: 700px;
  height: 38px;
  background-color: #f1f1f1;
  margin-left: 20px;
  text-transform: uppercase;
  align-items: center;
  text-align: center;
}
.filter-items p{
  margin-left: 20px;
  /* border: solid red; */
}
.filter-links{
  padding: 0;
  display: flex;
  width: 354px;
  justify-content: space-between;
  margin-left: 140px;
  /* border: solid red; */
}
.filter-links a{
  color: #EE3643;
}
.filter-buttons{
  outline: 0;
  margin-left: 40px;
}
.sorting-button{
  border: 0;
}
.sorting-button-disabled{
  margin-left: 6px;
}



.range-controls {
  position: relative;
  height: 43px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Pt sans", "Arial", sans-serif;
  font-size: 17px;
}

.price-controls input {
  max-width: 75px;
  padding: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}
/* Каталог */
.catalog-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin-left: 12px; */
}
.catalog-list .product{
  margin-left: 20px;
  margin-top: 20px;
}
/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 20px;
  margin-top: 47px;
}

.pagination-item {
  margin-right: 9px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 15px;
  font-size: 13px;
  font-family: "PT Sans";
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 2px;
}

.pagination-item a:active {
  border: 1px solid #EE3643;
  box-sizing: border-box;
  border-radius: 2px;
}
.pagination-item-next a{
  text-transform: uppercase;
  padding-left: 32px;
  padding-right: 31px;
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 3px;
}




.info-perf{
  background: #F1F5F7;
  margin-top: 59px;
  padding-top: 64px;
  padding-bottom: 68px;
}
.info-perf h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}
.info-perf p{
  margin-top: 25px;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
    font-weight: 400;
}
/* MODAL */

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.modal-map {
  top: 120px;
  bottom: auto;
  width: 943px;
  height: 449px;
  border-top: 7px solid var(--basic-red);
}
.modal-login input{
  display: block;
  margin: 0;
}
.modal-login p{
  margin: 0;
}
.modal-login {
  top: 120px;
  bottom: auto;
  width: 620px;
  height: 430px;
  border-top: 7px solid var(--basic-red);
}
.login-form{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 80px 0px 80px;
}

.name-user, .login-user{
  width: 210px;
  height: 32px;
}
.text-of-the-letter{
  width: 440px;
  height: 114px;
}
.button-submit{
  width: 460px;
  height: 38px;
  background-color: var(--basic-red);
  border: none;
  margin-top: 100px;
  color: var(--basic-white);
}
.modal-buy{
  /* display: block; */
  width: 620px;
  height: 260px;
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
}
.modal-buy h3{
  align-items: baseline;
  text-align: center;
  margin-top: 67px;
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.modal-buy h3::after{
  content: "";
  position: absolute;
  top: -23px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon-mark.png);
}
.modal-buy-button{
  display: flex;
  justify-content: center;
  width: 620px;
  height: 112px;
  background: #F1F1F1;
  margin-top: 66px;
}
.continue-shopping{
  background: white;
  margin-top:37px;
  border: 0;
  cursor: pointer;
}
.checkout-button{
  color: white;
  margin-top:37px;
  border: 0;
  cursor: pointer;
}




.modal-close{
  position: absolute;
  top: 12px;
  right: 25px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  width: 21px;
  height: 21px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: var(--basic-red);
  border-radius: 5px;
}
.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
.modal-show {
  display: block;
  animation: bounce 0.6s;
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
